# Ignore the virtual environment
.venv/

# Ignore Visual Studio Code settings
.vscode/

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Python distribution artifacts
dist/
build/
*.egg-info/
*.egg
*.wheel

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

.vscode/
